<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfuckingpc.gigshub1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo_apps"
        android:label="Gigshub"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ProfileActivity2"
            android:label="@string/title_activity_profile2" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".DetailGigsActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/MyActionBar.ActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".CreateGigsActivity"
            android:theme="@style/MyActionBar.ActionBar"></activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity"></activity>


        <activity
            android:name=".NotificationActivity"
            android:theme="@style/MyActionBar.ActionBar"></activity>
        <activity android:name=".MapActivity"
            android:theme="@style/MyActionBar.ActionBar">

        </activity>
        <activity
            android:name=".UpdateGigsActivity"
            android:theme="@style/MyActionBar.ActionBar">

        </activity>
        <activity android:name=".BuyTicketActivity"
            android:theme="@style/MyActionBar.ActionBar">
        </activity>
        <activity android:name=".ChooseMethodToAddBudget"
            android:theme="@style/MyActionBar.ActionBar"/>

    </application>

</manifest>