<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfuckingpc.gigshub1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo_apps"
        android:label="Gigshub"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.ProfileActivity2"
            android:label="@string/title_activity_profile2" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/MyActionBar.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DetailGigsActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/MyActionBar.ActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.CreateGigsActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashscreenTheme">

        </activity>
        <activity android:name=".Activity.CreateActivity" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".Activity.CreateMapActivity"
            android:theme="@style/MyActionBar.ActionBar"></activity>
        <activity
            android:name=".Activity.UpdateGigsActivity"
            android:theme="@style/MyActionBar.ActionBar"></activity>
        <activity
            android:name=".Activity.BuyTicketActivity"
            android:theme="@style/MyActionBar.ActionBar"/>
        <activity
            android:name=".Activity.ChooseMethodToAddBudget"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".Activity.CommentActivity"
            android:theme="@style/MyActionBar.ActionBar"></activity>
        <activity
            android:name=".Activity.MapActivity"
            android:theme="@style/MyActionBar.ActionBar"/>
        <activity
            android:name=".Activity.RequestVerificationActivity"
            android:theme="@style/MyActionBar.ActionBar" />
        <activity
            android:name=".Activity.UserFollowActivity"
            android:theme="@style/MyActionBar.ActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >

        </activity>
        <activity
            android:name=".Activity.FollowActivity"
            android:theme="@style/MyActionBar.ActionBar" />
    </application>

</manifest>